


.drag{
    -webkit-app-region: drag;
}
.no-drag{
    -webkit-app-region: no-drag;
}

.top-bar{
    width: 100%;
    height: 30px;
    background: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-bar .drag{
    padding-left: 5px;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    /*    运行拖拽*/
}
.top-bar .top-title{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
}


    /*.top-bar*/
.control-box{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 1;
}
.control-box .btn{
    width: 20px;
    height: 20px;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}
.control-box .ding{
    background-color: #f1c40f;
}
.control-box .ding-is{
    background-color: #f39c12;
}
.control-box .min{
    background-color: #2ecc71;
}
.control-box .full{
    background-color: #3498db;
}
.control-box .full-is{
    background-color: #2980b9;
}
.control-box .close{
    background-color: #e74c3c;
}
.showTip{
    position: absolute;
    display: block;
    width: 90px;
    height: 20px;
    top: 20px;
    right: -100%;
    padding: 0 5px;
    box-shadow: 1px 0 4px #000;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    background-color: #000;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.3s;
    z-index: 1000;
}
.showTopTip:hover .showTip{
    top: 30px;
    opacity: 1;
}
.showCenterTip:hover .showTip{
    top: -25px;
    right: -50%;
    opacity: 1;
}

.noScroll::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}

.noScroll {
    scrollbar-width: none; /* firefox */
    -ms-overflow-style: none; /* IE 10+ */
}


.window-content{
    width: 100%;
    height: calc(100% - 30px);
    overflow: hidden;
    position: relative;
    /*    允许被点击*/
}

/* 更细的滚动条 */
.scroll::-webkit-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 11px;
    background-color:  rgba(0, 0, 0, 0.2);
}
.scroll::-webkit-scrollbar-track {
    display: none;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    color: transparent;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #4B5563;
    border: 2px solid transparent;
    background-clip: padding-box;
}

/*.scroll::-webkit-scrollbar {*/
/*    width: 4px;*/
/*    height: 4px;*/
/*}*/

.scroll::-webkit-scrollbar:hover {
    width: 7px;
    height: 7px;
}


.image-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.image-bg img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.full{
    width: 100%;
    height: 100%;
}
