.page-view{
    background-color: var(--color-background-mute);
    width: 100%;
    height: 100%;
    position: relative;
}

.fc-app-window{
    position: relative;
    width: 100%;
    height: 100%;
}

.flex{
    display: flex;
}

.cover img {
    width: 100%;
    height: 100%;
}

.line-row {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
}
.line-row .label {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 1;
}

.line-row .value {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 1;
    box-sizing: border-box;
    padding: 0 10px;
}
