.page-view{
    background-color: var(--color-background-mute);
    width: 100%;
    height: 100%;
    position: relative;
}

.fc-app-window{
    position: relative;
    width: 100%;
    height: 100%;
}

.flex{
    display: flex;
}